.offset1 {
    margin-left: 100px;
}

.offset2 {
    margin-left: 180px;
}

.offset3 {
    margin-left: 260px;
}

.offset4 {
    margin-left: 340px;
}

.offset5 {
    margin-left: 420px;
}

.offset6 {
    margin-left: 500px;
}

.offset7 {
    margin-left: 580px;
}

.offset8 {
    margin-left: 660px;
}

.offset9 {
    margin-left: 740px;
}

.offset10 {
    margin-left: 820px;
}

.offset11 {
    margin-left: 900px;
}